<link rel="stylesheet" href="/css/header.css">


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="opacity:0.5">
    <a class="navbar-brand" href="/"><span style="color:brown;">PS</span>RESTAURANT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/booking">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view_bookings">View Your Bookings</a>
        </li>
        
       
      </ul>
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
      <%if(login){%>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          
        </div>
  
      <%}%>
      
      <%if(!login){%>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          
          <a class="dropdown-item" href="/signin">Sing In</a>
          <a class="dropdown-item" href="/signup">Sign Up</a>
          
        </div>
        
      <%}%>
       
    
       
      </div>
  
    </div>
  </nav>
