<%- include('./partials/header') %>
</br>
</br>
</br>
</br>
</br>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Satisfy&display=swap" rel="stylesheet">

<div class="container">
    <div class="row">
        <p style="color:white;font-size:2rem;font-family: 'Cormorant Upright', serif;
        font-family: 'Satisfy', cursive;">A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal. Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food.</p>

    </div>

</div>