<%- include('./partials/header') %>
</br>
</br>
</br>
</br>
</br>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Satisfy&display=swap" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <p style="color:white;font-size:2rem;font-family: 'Cormorant Upright', serif;text-align: center;
            font-family: 'Satisfy', cursive;">A restaurant  is a place where cooked food is sold to the public, and where people sit down to eat it. </p>
    

        </div>
        <div class="col-sm-3">

        </div>
       
    </div>

</div>