<%- include('./partials/header') %>
</br>
</br>
</br>

<div class="container">
  


  <div class="row">
    <div class="col-sm-4">

    </div>
    
    <div class="col-sm-4">
      <form action="/signup" method="post">
        <%- include('./partials/messages') %>
          <legend style="color:white">Sign Up</legend>
          <div class="form-group">
            <label for="exampleInputName" style="color:white">Name</label>
            <input type="text" class="form-control"  name="name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="color:white">Email address</label>
            <input type="email" class="form-control"   name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" style="color:white">Password</label>
            <input type="password" class="form-control"  name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" style="color:white"> Confirm Password</label>
            <input type="password" class="form-control"  name="password2" placeholder="Password">
          </div>
          
          <button type="submit" class="btn btn-primary" style="background-color: #2D1E17">Submit</button>
      </form>

    </div>
    <div class="col-sm-4">

    </div>
  </div>

</div>
