.navbar-brand {
    
    font-size: 1.6rem;
    font-weight: bolder;
    
}
.nav-link {
    color:white;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}