.navbar-brand {
    
    font-size: 1.6rem;
    font-weight: bolder;
    
}

a:hover {
    color:yellowgreen!important

}


.nav-link {

    color:whitesmoke!important;
    font-size: 1rem;
    font-family: 'Courgette', cursive; 
    
}

